Repository NekoyaJolly/mycats-main: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd backend && npm run test

feat: パフォーマンス最適化とCI強化
  .github/workflows/ci.yml
  DATABASE_QUICK_REF.md
  DATABASE_SCHEMA.md
  backend/NewPedigree/~$Pedigreeテーブル入力フォーム図.xlsx
  backend/package.json
  backend/prisma/migrations/20250821113530_add_pedigree_performance_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.module.ts
  backend/src/common/cache/cache.module.ts
  backend/src/common/cache/cache.service.ts
  backend/src/common/cache/index.ts
  backend/src/pedigree/pedigree.controller.ts
  backend/src/pedigree/pedigree.service.backup.ts
  backend/src/pedigree/pedigree.service.new.ts
  backend/src/pedigree/pedigree.service.ts
  backend/src/scripts/check-pedigree-data.ts
  backend/src/scripts/import-pedigree-sample.ts
  backend/src/scripts/import-test-data.ts
  backend/src/scripts/performance-test.ts.disabled
  backend/src/scripts/selective-csv-import.ts
  backend/src/scripts/simple-performance-test.ts
  backend/src/scripts/test-cache-performance.ts
  cat-ui-test/src/app/pedigrees/[id]/page.new.tsx
  cat-ui-test/src/app/pedigrees/new/page.new.tsx
  cat-ui-test/src/app/pedigrees/new/page.old.tsx.disabled
  cat-ui-test/src/app/pedigrees/page.tsx
  cat-ui-test/src/lib/api-client.ts
  package-lock.json
Due: eslint --fix, prettier --write, cd backend && npm run test

fix(ci): フロントエンドのビルドエラーを修正しCIを再構築
  .github/workflows/ci-frontend-only.yml
  .github/workflows/ci-full-backup.yml
  .github/workflows/ci.yml
  README.md
  SETUP_GUIDE.md
  backend/package.json
  cat-ui-test/next.config.mjs
  cat-ui-test/package.json
  cat-ui-test/src/app/breeding/page-new.tsx
  cat-ui-test/src/app/breeding/page-simple.tsx
  cat-ui-test/src/app/cats/[id]/pedigree/page.tsx
  cat-ui-test/src/app/cats/[id]/pedigree/page_new.tsx
  cat-ui-test/src/app/cats/[id]/pedigree/page_old.tsx
  cat-ui-test/src/app/error.tsx
  cat-ui-test/src/app/error.tsx.backup
  cat-ui-test/src/app/layout-minimal.tsx
  cat-ui-test/src/app/layout-new.tsx
  cat-ui-test/src/app/layout-simple.tsx
  cat-ui-test/src/app/layout-test.tsx
  cat-ui-test/src/app/not-found.tsx
  cat-ui-test/src/app/not-found.tsx.backup2
  cat-ui-test/src/app/page.tsx
  cat-ui-test/src/types/mantine-fixed.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: プロジェクト品質向上 - 環境変数検証、エラーハンドリング強化、パフォーマンス最適化
  .env.example
  IMPROVEMENT_GUIDE.md
  backend/.env.example
  backend/package.json
  backend/src/config/env.validation.ts
  backend/src/main.ts
  backend/src/pedigree/pedigree.service.ts
  backend/test/env.validation.spec.ts
  cat-ui-test/src/__tests__/lib/api-client.test.ts
  cat-ui-test/src/hooks/useApi.ts
  cat-ui-test/src/lib/api-client.ts
  package-lock.json
  package.json
  scripts/migrate-production.bat
  scripts/migrate-production.sh
Due: eslint --fix, prettier --write, cd backend && npm run test

fix: CI環境でのHuskyエラー修正
  package.json
Due: prettier --write

Fix ESLint configurations for CI pipeline
  .github/dependabot.yml
  backend/.eslintrc.js
  cat-ui-test/.eslintrc.json
Due: eslint --fix, prettier --write

Optimize CI workflow for better performance and reliability
  .github/workflows/ci.yml
Due: none

Refactor global exception filter for improved robustness and maintainability
  backend/src/common/errors/global-exception.filter.ts
Due: eslint --fix, prettier --write, cd backend && npm run test

Clean up test files and improve E2E configuration
  .github/workflows/ci-frontend-only.yml
  .github/workflows/ci-full-backup.yml
  backend/test/jest-e2e.json
  backend/test/pedigree-integration.spec.ts
Due: eslint --fix, prettier --write

test変更
  .github/workflows/ci.yml
  backend/src/config/env.validation.ts
Due: eslint --fix, prettier --write, cd backend && npm run test

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md})
  cd backend && npm run test: any of: backend/src/**/*.ts
